/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {}

.btn-lg {
  background: red;
  color: #fff;
  padding: 10px!important;
  float: right;
  display: inline-block;
}

.menu-bar {
  width: 100%;
  padding: 20px 10px;
  background: #eee;
  bottom: 0px;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dssux-logo {
  width: 126px;
  height: 30px;
  background: url(../../img/logo-dssux.png) no-repeat;
  background-size: cover;
  margin: 0px 10px;
}

.soco-logo {
  width: 149px;
  height: 25px;
  background: url(../../img/logo-soco.png) no-repeat;
  background-size: cover;
}

.lg-logo {
  max-width: 500px!important;
  margin: auto!important;
  display: block;
}

.slide-welcome {
  background:
  url(../../img/deltas-2.png) no-repeat bottom right,
  url(../../img/deltas-2.png) no-repeat top center,
  url(../../img/blue-back-2.png) no-repeat center left;
  background-size: 30%, 10%, 40%;
}

.slide-one {
  background:
  url(../../img/deltas-2.png) no-repeat bottom left,
  url(../../img/deltas-2.png) no-repeat top left,
  url(../../img/blue-back.png) no-repeat center right;
  background-size: 30%, 10%, 60%;
}

.slide-two {
  background:
  url(../../img/blue-deltas-1.png) no-repeat top left,
  url(../../img/blue-deltas-2.png) no-repeat bottom center,
  url(../../img/blue-deltas-3.png) no-repeat top right;
  background-size: 30%, 30%, 20%;
  background-color: #2a7cba;
}

.slide-three {
  background:
  url(../../img/blue-down.png) no-repeat bottom left,
  url(../../img/red-deltas-2.png) no-repeat bottom right,
  url(../../img/red-deltas-3.png) no-repeat top center;
  background-size: 60%, 20%, 10%;
  background-color: #df212c;
}

.slide-four {
  background:
  url(../../img/blue-trans-1.png) no-repeat bottom right,
  url(../../img/photo-family.jpg) no-repeat;
  background-size: 30%, cover;
  background-color: hsla(0,0%,100%,0.80);
  background-blend-mode: overlay;
}

.slide-five {
  background:
  url(../../img/deltas.png) no-repeat bottom right,
  url(../../img/deltas-2.png) no-repeat top left;
  background-size: 30%, 10%;
}

.slide-six {
  background-color: #2a7cba;
}

.reveal {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 28px;
  font-weight: normal;
  color: #222; }

::selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #4d4d4d;
  font-family: 'adelle',serif;
  font-weight: lighter;
  line-height: 1.2;
  letter-spacing: normal;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 1.3em;
  color: #00b8ed;
}

.reveal h2 {
  font-size: 1.0em; }

.reveal h3 {
  font-size: 0.8em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3;
  font-size: 0.6em;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {

  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {

  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  border: 0px solid #222;

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2a76dd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #2a76dd; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #2a76dd; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
